ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li#menu {float: left;}
li#Home {background-color: blue;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {background-color: grey;}

ul#lijst {list-style-type: none;}

#text {text-align: center;}
#werkpagina {text-align: center;}
#opleidingpagina {text-align: center;}
#motivatiegpagina {text-align: center;}